.table-container {
  overflow-x: auto; /* Allows scrolling on small screens */
  margin: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  min-width: 600px;
}

thead {
  background-color: #006a8d;
  color: white;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
}

.delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  float: inline-end;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #cc0000;
}

td,
th {
  white-space: normal !important; 
  word-wrap: break-word !important;
}

td {
  vertical-align: middle !important;
}

.qty-input {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Add pointer cursor so users know it's clickable */
.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s;
  background: #ffffff ;
}

/* Default Hover Effect */
.clickable-row:hover {
  background-color: #f5f5f5;
}

/* Selected State (Wins over hover) */
.selected-row {
  background-color: #f5f5f5 !important;  
   outline: 1px solid #006a8d; 
}

.selected-row td {
  color: #000000;
}

/* The dark backdrop behind the modal */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.custom-modal {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  padding: 20px;
  min-width: 300px;
  font-family: sans-serif;
}

.input-group {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.confirm-btn {
  background-color: #009879;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.search-btn {
  background-color: #006a8d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.search-box{
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}